<IfModule mod_rewrite.c>
    Options -Multiviews
    RewriteEngine On
    
    # Si la petición no es un archivo real y no es una carpeta real
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Enviar la petición al index.php local del directorio public
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>